.el-input-number {
  width: 110px;
}

.el-input-number__decrease, .el-input-number__increase {
  color: white;
  border-left-color: $color-bg-dark;
  &:hover,
  &:focus {
    color: $color-beta;
  }
  &.is-disabled {
    color: rgba(255,255,255,0.25);
  }
}

.el-input__inner {
  background-color: $color-bg-dark;
  color: white;
  border-width: 0;
}
