<div>
  <nav class="nav">
    <div class="container">
      <div class="nav-header">
        <router-link
          class="nav-brand"
          :to="{ name: 'home.index' }"
        >
          Stickerstack
        </router-link>

        <div class="nav-items">
          <ul>
            <li class="nav-item">
              <a @click="faqDialogVisible = true">
                About
              </a>
            </li>
            <li class="nav-item">
              <a @click="supportDialogVisible = true">
                Support
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="app-main">
    <slot></slot>
  </div>

  <el-dialog title="Support" v-model="supportDialogVisible" size="tiny">
    <span>This is a message</span>
    <span slot="footer" class="dialog-footer">
      <el-button @click="supportDialogVisible = false">Cancel</el-button>
    </span>
  </el-dialog>

  <el-dialog title="FAQs" v-model="faqDialogVisible" size="tiny">
    <span>This is a message</span>
    <span slot="footer" class="dialog-footer">
      <el-button @click="faqDialogVisible = false">Cancel</el-button>
    </span>
  </el-dialog>

</div>
